<div class="col-lg-12 my-3">
  <div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white text-center">
      <h4 class="text-white">Operation Form</h4>
    </div>
    <div class="card-body">
      <form method="POST" hx-post="{% url 'operation_create' %}" hx-target="#form-div" hx-swap="innerHTML"
        hx-trigger="click from:#next-page">
        {% csrf_token %}
        <div class="row align-items-center mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="employee_follow" class="col-form-label">Employee Follow:</label>
              </div>
              <div class="col-8">
                <select name="employee_follow" id="employee_follow" class="form-control w-100">
                  <option value="">Seçim Yapınız</option>
                  {% for employee in employees %}
                  <option value="{{ employee.id }}">{{ employee.user.first_name }} {{ employee.user.last_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="buyer_company" class="col-form-label">Buyer Company:</label>
              </div>
              <div class="col-8">
                <select name="buyer_company" id="buyer_company" class="form-control w-100">
                  <option value="">Seçim Yapınız</option>
                  {% for company in buyer_companies %}
                  <option value="{{ company.id }}">{{ company.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="operation_ticket" class="col-form-label">Operation Ticket:</label>
              </div>
              <div class="col-8">
                <input type="text" placeholder="Ticket" name="operation_ticket" id="operation_ticket"
                  class="form-control w-100" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="passenger_number" class="col-form-label">Passenger Number:</label>
              </div>
              <div class="col-8">
                <input type="number" placeholder="Passenger Number" name="passenger_number" id="passenger_number"
                  value="0" class="form-control w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="start_at" class="col-form-label">Start At:</label>
              </div>
              <div class="col-8">
                <input type="date" name="start_at" id="start_at" class="form-control w-100" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 align-self-center">
                <label for="finish_at" class="col-form-label">Finish At:</label>
              </div>
              <div class="col-8">
                <input type="date" name="finish_at" id="finish_at" class="form-control w-100" />
              </div>
            </div>
          </div>
        </div>
        <hr class="my-2" />
        <div id="sales_div">
          {% include 'includes/operations/sales_div.html' %}
        </div>
        <hr class="my-2" />
        <div id="customer_div">
          {% include 'includes/operations/customer_div.html' %}
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2 mt-3">
    <button id="add_sales_row" hx-get="{% url 'get_prices' %}" hx-target="#sales_div" hx-swap="beforeend"
      class="btn btn-md bg-soft-danger text-danger">
      Add Sales Price
    </button>
    <button id="add_customers_row" hx-get="{% url 'get_customers' %}" hx-target="#customer_div" hx-swap="beforeend"
      class="btn btn-md bg-soft-danger text-danger">
      Add New Customer
    </button>
    <button id="next-page" class="btn btn-md bg-soft-primary text-primary">
      Next Page
    </button>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('next-page').addEventListener('click', function(event) {
        // Gerekli alanların seçimi
        var employeeFollow = document.getElementById('employee_follow').value;
        var buyerCompany = document.getElementById('buyer_company').value;
        var passengerNumber = document.getElementById('passenger_number').value;
        var startAt = document.getElementById('start_at').value;
        var finishAt = document.getElementById('finish_at').value;
        var sales_price = document.getElementById('sales_price').value;
        var customer_name = document.getElementById('customer_name').value;
        var missingFields = [];

        // Boş alanları kontrol et ve missingFields listesine ekle
        if (!employeeFollow) {
            missingFields.push('Follow by Employee');
        }
        if (!buyerCompany) {
            missingFields.push('Buyer Company');
        }
        if (passengerNumber == 0) {
            missingFields.push('Passenger Number');
        }
        if (!startAt) {
            missingFields.push('Start At');
        }
        if (!finishAt) {
            missingFields.push('Finish At');
        }
        if (!customer_name) {
            missingFields.push('Customer Name');
        }
        if (sales_price == 0) {
            missingFields.push('Sales Price');
        }

        // Eğer eksik alanlar varsa
        if (missingFields.length > 0) {
            // Eksik alanları kullanıcıya göster
            alert('Please fill in the required fields: ' + missingFields.join(', '));
            // Formun gönderilmesini engelle
            event.preventDefault();
        } else {
            // Tüm alanlar doluysa, butonun id'sini değiştir
            document.getElementById('submit-buton').id = 'next-page';
        }
    });
});

</script>