<div class="row align-items-center mb-3">
  <div class="col-6">
    <div class="row">
      <div class="col-4 align-self-center">
        <label for="sales_price" class="col-form-label">Sales Price: </label>
      </div>
      <div class="col-8">
        <input type="number" step=".1" name="sales_price" id="sales_price" value="0" class="form-control w-100" />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 align-self-center">
        <label for="sales_currency" class="col-form-label">Sales Currency:
        </label>
      </div>
      <div class="col-8">
        <select name="sales_currency" id="sales_currency" class="form-control w-100">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="TL">TRY</option>
        </select>
      </div>
    </div>
  </div>
</div>