<form hx-post="{% url 'generic_create_view' model_name %}" hx-target="#generic-list" hx-swap="beforebegin"  hx-on="htmx:afterRequest: this.remove()" hx-trigger="click from:#submit-all">
    <div class="row">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-lg-3 mb-4 align-self-end">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label|upper }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="col-sm-12 mt-2 col-md-auto align-self-center ms-auto">
            <button type="button" class="btn btn-sm btn-danger" hx-on="click: this.closest('.row').remove()">Cancel</button>
        </div>
        {% if model_name == "Supplier" or model_name == "Activitysupplier" %}
        <div class="col-sm-12">
                <div id="citiesdiv">
                    <div class="row">
                        <div class="col-10">
                            <select name="city" id="city" class="form-control">
                                <option value="">Seçim Yapınız</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 align-self-center">
                            <button class="btn btn-sm btn-danger ms-auto" hx-on="click: this.closest('.row').remove()">Cancel City</button>
                        </div>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>
</form>
