{% extends "tour/base/base.html" %}

{% block css %}


{% endblock css %}
{% block content %}
<div class="container-fluid" data-bs-theme="dark">
    <h1 class="text-center my-5">{{ createtitle }}</h1>
    <div id="forms" class="desktop-only">
        {% include 'tour/partials/generic-form.html' %}
    </div>
    <div class="desktop-only">
        <div class="d-flex justify-content-center">
            <div id="forms">
                <button class="btn btn-success my-4 me-2" hx-get="{% url 'generic_create_view' model_name %}" hx-target="#forms" hx-swap="beforeend">Add Form</button>
                <button type="button" class="btn btn-primary my-4"  id="submit-all">Save</button>
                {% if model_name != "Personel" and model_name != "Cost" and model_name != "Activitycost"  %}
                    <a class="btn btn-success my-4 me-2" href="{% url 'generic_excel_download' model_name %}">Download Excel Form</a>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                        Upload Excel
                    </button>
                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uploadModalLabel">Upload Excel Form</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form -->
                                    <form method="post" action="{% url 'generic_excel_upload' model_name %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="excel_file">Select Excel Form:</label>
                                            <input type="file" name="excel_file" id="excel_file" class="form-control" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <a class="btn btn-danger my-4 me-2" href="{% url 'generic_excel_full_download' model_name %}">Download Full Excel</a>

            </div>
        </div>
    </div>

    <div id="forms-mobile" class="mobile-only">
        {% include 'tour/partials/generic-mobile-form.html' %}
    </div>
    <div class="mobile-only">
        <div class="d-flex justify-content-center">
            <div id="forms-mobile">
                <button class="btn btn-success my-4 me-2" hx-get="{% url 'generic_mobile_create_view' model_name %}" hx-target="#forms-mobile" hx-swap="beforeend">Add Form</button>
                <button type="button" class="btn btn-primary my-4"  id="submit-all">Save</button>
                <button class="btn btn-danger my-4 me-2" hx-get="{% url 'generic_excel_full_download' model_name %}" hx-target="#forms-mobile" hx-swap="beforeend">Download Full Excel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1>{{ listTitle }}</h1>
    <div>
        <div class="mobile-only">
            <div class="row">
                <div id="generic-mobile-list">
                    {% for obj_data in objects_data %}
                        <div class="col-md-4" id="delete_div-{{ obj_data.id }}">
                            <div class="card my-2">
                                <div class="card-header bg-secondary text-white"> <!-- Başlık için mavi arka plan ve beyaz yazı renkleri ekledim -->
                                    <h5 class="card-title mb-0"> <!-- Kart başlığını h5 ile vurguladım ve alt margini sıfırladım -->
                                        {{ model_name }}
                                    </h5>
                                </div>
                                {% include "tour/partials/mobile-card.html" with obj_data=obj_data %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="desktop-only">
            <table class="table table-striped table-hover table-bordered table-light align-middle" id="myTable">
                <thead>
                    {% for field in fields %}
                        <th>{{ field|upper }}</th>
                    {% endfor %}
                    <th>OPTIONS</th>
                </thead>
                <tbody id="generic-list">
                    {% for obj_data in objects_data %}
                        {% include "tour/partials/generic-list.html" with fields=fields obj_data=obj_data %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Select2'u uygulamak için
            $('#id_staff').select2({
                multiple: true
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0/build/vanilla-masker.min.js"></script>
    <script>
        // Inputmask'in uygulanması
        VMasker(document.getElementById("id_phone")).maskPattern("(999) 999-9999");

    </script>
{% endblock js %}


