{% extends "tour/base/base.html" %}

{% block content %}
<div class="p-5">
    <div class="card my-4"  id="cardToday">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ todaytitle|date:"d.m.Y" }}</h1>
            <div>
                <button onclick="downloadCard('cardToday');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardToday');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <button class="btn btn-secondaty mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                Filtre Uygula
            </button>
            <a class="btn btn-secondaty mb-3" href="{% url 'jobs' %}">
                Filtre Sıfırla
            </a>
              
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filtre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Filtre uygulamak için seçim yapınız.
                    </div>
                    <div class="dropdown mt-3">
                        <form method="POST" action="{% url 'filtre' %}">
                            {% csrf_token %}
                            <label>İşlem Türü Seçiniz</label>
                            <select name="filtre" class="form-control">
                                <option value="Tur">Tur</option>
                                <option value="Tur + Transfer">Tur + Transfer</option>
                                <option value="Transfer + Tur">Transfer + Tur</option>
                                <option value="Transfer">Transfer</option>
                                <option value="Araç">Araç</option>
                                <option value="Aktivite">Aktivite</option>
                                <option value="Müze">Müze</option>
                                <option value="Otel">Otel</option>
                                <option value="Rehber">Rehber</option>
                                <option value="Araçlı Rehber">Araçlı Rehber</option>
                                <option value="Serbest Zaman">Serbest Zaman</option>
                            </select>

                            <button class="btn btn-secondary my-3">Uygula</button>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" style="font-size:0.6rem;">
                <thead class="thead-dark">
                    <tr>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Bırakış Zamanı</th>
                        <th>Alış Yeri</th>
                        <th>Bırakış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Oda Tipi</th>
                        <th>Otel Ücreti</th>
                        <th>Otel Ücreti Bizde</th>
                        
                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti</th>
                        <th>Aktivite Ücreti Bizde</th>
                        
                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>
                        <th>Müze Ücreti Bizde</th>

                        <th>Rehber</th>
                        <th>Rehber Ücreti</th>
                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>
                        <th>Diğer Ücretler</th>


                    </tr>
                </thead>
                <tbody>
                    {% for today in today_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                    <tr>
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" id="cardTomorrow">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ tomorrowtitle|date:"d.m.Y" }}</h1>
            <div>
                <button onclick="downloadCard('cardTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover" style="font-size:0.6rem;">
                <thead class="thead-dark">
                    <tr>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>
                        <th>Bırakış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>
                        <th>Otel Ücreti Bizde</th>
                        
                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti Bizde</th>
                        
                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>
                        <th>Müze Ücreti Bizde</th>

                        <th>Rehber</th>
                        <th>Rehber Ücreti</th>
                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>

                    </tr>
                </thead>
                <tbody>
                    {% for today in tomorrow_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" id="cardtoTomorrow">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ totomorrowtitle|date:"d.m.Y" }}</h1>
            <div>
                <button onclick="downloadCard('cardtoTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardtoTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover" style="font-size:0.6rem;">
                <thead class="thead-dark">
                    <tr>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>
                        <th>Bırakış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>
                        <th>Otel Ücreti Bizde</th>
                        
                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti Bizde</th>
                        
                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>
                        <th>Müze Ücreti Bizde</th>

                        <th>Rehber</th>
                        <th>Rehber Ücreti</th>
                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>

                    </tr>
                </thead>
                <tbody>
                    {% for today in totomorrow_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form method="POST" class="my-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <label>Başlangıç Tarihi (Zorunlu)</label>
                <input class="form-control" type="date" name="date_job" required>
            </div>
            <div class="col-3">
                <label>Bitiş Tarihi (İsteğe Bağlı)</label>
                <input class="form-control" type="date" name="date_finish_job">
            </div>
            <div class="col-3 align-self-end">
                <button class="btn btn-success">İşleri Getir</button>
            </div>
        </div>
        
    </form>
    
    <div class="card my-4" id="cardWeek">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ weektitle }}</h1>
            <div>
                <button onclick="downloadCard('cardWeek');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardWeek');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover" style="font-size:0.6rem;">
                <thead class="thead-dark">
                    <tr>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>
                        <th>Bırakış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>
                        <th>Otel Ücreti Bizde</th>
                        
                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti Bizde</th>
                        
                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>
                        <th>Müze Ücreti Bizde</th>

                        <th>Rehber</th>
                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>

                    </tr>
                </thead>
                <tbody>
                    {% for today in week_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        function printCard(cardId) {
            var content = document.getElementById(cardId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = content;

            window.print();

            document.body.innerHTML = originalContent;
        }
    </script>
    <script>
        function printCard(cardId) {
            var content = document.getElementById(cardId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = content;

            window.print();

            document.body.innerHTML = originalContent;
        }

        function downloadCard(cardId) {
            var cardElement = document.getElementById(cardId);
            var elt = cardElement.getElementsByTagName('table')[0];
            var titleElement = cardElement.getElementsByClassName('card_title')[0];
            var titleText = titleElement ? titleElement.innerText : 'Download';
            var fileName = titleText.replace(/[^a-z0-9]/gi, '_').toLowerCase() + ".xlsx"; // Sanitize title text to use as filename

            var wb = XLSX.utils.table_to_book(elt, {sheet: "Sheet JS"});
            XLSX.writeFile(wb, fileName);
        }
    </script>
{% endblock %}



