{% extends "tour/base/base.html" %}
{% block css %}
<style>
    /* Ekran genişliği 1762 piksel veya daha büyükse */
    @media (min-width: 1762px) {
        .table {
            font-size: 0.6rem !important;
        }
    }

    /* Ekran genişliği 1762 pikselden küçükse */
    @media (max-width: 1761px) {
        .table_font {
            font-size: 0.4rem !important;
        }
    }
    @media (max-width: 1415px) {
        .table_font {
            font-size: 0.3rem !important;
        }
    }
</style>
{% endblock css %}
{% block content %}
<div class="p-5">
    <div class="card my-4"  id="cardToday">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ todaytitle|date:"d.m.Y" }}</h1>
            <div>
                <select name="filtre_today" id="filtre_today" class="form-control">
                    <option value="Hepsi">Hepsi</option>
                    <option value="Tur">Tur</option>
                    <option value="Transfer">Transfer</option>
                    <option value="TurTransfer">Tur + Transfer</option>
                    <option value="TransferTur">Transfer + Tur</option>
                    <option value="Aktivite">Aktivite</option>
                    <option value="Muze">Muze</option>
                    <option value="Otel">Otel</option>
                    <option value="Rehber">Rehber</option>
                    <option value="Arac">Arac</option>
                    <option value="Aracli Rehber">Aracli Rehber</option>
                    <option value="Serbest Zaman">Serbest Zaman</option>
                </select>
                <button onclick="downloadCard('cardToday');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardToday');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">

            <table class="table table-striped table-hover table_font">
                <thead class="thead-dark">
                    <tr>
                        <th>Takip Eden</th>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>

                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti</th>

                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>

                        <th>Rehber</th>
                        <th>Rehber Var</th>
                        <th>Rehber Ücreti</th>

                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>
                        {% if request.user.personel.first.job == "Operasyon Şefi" or request.user.personel.first.job == "Yönetim" or request.user.personel.first.job == "Sistem Geliştiricisi" %}
                            <th>Whatsapp</th>
                        {% endif %}
                        <th>Hata Bildir</th>


                    </tr>
                </thead>
                <tbody>
                    {% for job in today_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                    <tr>
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" id="cardTomorrow">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ tomorrowtitle|date:"d.m.Y" }}</h1>
            <div>
                <select name="filtre_tomorrow" id="filtre_tomorrow" class="form-control">
                    <option value="Hepsi">Hepsi</option>
                    <option value="Tur">Tur</option>
                    <option value="Transfer">Transfer</option>
                    <option value="TurTransfer">Tur + Transfer</option>
                    <option value="TransferTur">Transfer + Tur</option>
                    <option value="Aktivite">Aktivite</option>
                    <option value="Muze">Muze</option>
                    <option value="Otel">Otel</option>
                    <option value="Rehber">Rehber</option>
                    <option value="Arac">Arac</option>
                    <option value="Aracli Rehber">Aracli Rehber</option>
                    <option value="Serbest Zaman">Serbest Zaman</option>
                </select>
                <button onclick="downloadCard('cardTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover table_font">
                <thead class="thead-dark">
                    <tr>
                        <th>Takip Eden</th>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>

                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti</th>

                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>

                        <th>Rehber</th>
                        <th>Rehber Var</th>
                        <th>Rehber Ücreti</th>

                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>
                        {% if request.user.personel.first.job == "Operasyon Şefi" or request.user.personel.first.job == "Yönetim" or request.user.personel.first.job == "Sistem Geliştiricisi" %}
                            <th>Whatsapp</th>
                        {% endif %}
                        <th>Hata Bildir</th>

                    </tr>
                </thead>
                <tbody>
                    {% for job in tomorrow_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" id="cardtoTomorrow">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ totomorrowtitle|date:"d.m.Y" }}</h1>
            <div>
                <select name="filtre_today" id="filtre_totomorrow" class="form-control">
                    <option value="Hepsi">Hepsi</option>
                    <option value="Tur">Tur</option>
                    <option value="Transfer">Transfer</option>
                    <option value="TurTransfer">Tur + Transfer</option>
                    <option value="TransferTur">Transfer + Tur</option>
                    <option value="Aktivite">Aktivite</option>
                    <option value="Muze">Muze</option>
                    <option value="Otel">Otel</option>
                    <option value="Rehber">Rehber</option>
                    <option value="Arac">Arac</option>
                    <option value="Aracli Rehber">Aracli Rehber</option>
                    <option value="Serbest Zaman">Serbest Zaman</option>
                </select>
                <button onclick="downloadCard('cardtoTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardtoTomorrow');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover table_font">
                <thead class="thead-dark">
                    <tr>
                        <th>Takip Eden</th>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>

                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti</th>

                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>

                        <th>Rehber</th>
                        <th>Rehber Var</th>
                        <th>Rehber Ücreti</th>

                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>
                        {% if request.user.personel.first.job == "Operasyon Şefi" or request.user.personel.first.job == "Yönetim" or request.user.personel.first.job == "Sistem Geliştiricisi" %}
                            <th>Whatsapp</th>
                        {% endif %}
                        <th>Hata Bildir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in totomorrow_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form method="POST" class="my-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <label>Başlangıç Tarihi (Zorunlu)</label>
                <input class="form-control" type="date" name="date_job" required>
            </div>
            <div class="col-3">
                <label>Bitiş Tarihi (İsteğe Bağlı)</label>
                <input class="form-control" type="date" name="date_finish_job">
            </div>
            <div class="col-3 align-self-end">
                <button class="btn btn-success">İşleri Getir</button>
            </div>
        </div>

    </form>

    <div class="card my-4" id="cardWeek">
        <div class="card-header d-md-flex justify-content-md-between align-items-md-center">
            <h1 class="my-1 card_title">{{ weektitle }}</h1>
            <div>
                <select name="filtre" id="filtre" class="form-control">
                    <option value="Hepsi">Hepsi</option>
                    <option value="Tur">Tur</option>
                    <option value="Transfer">Transfer</option>
                    <option value="TurTransfer">Tur + Transfer</option>
                    <option value="TransferTur">Transfer + Tur</option>
                    <option value="Aktivite">Aktivite</option>
                    <option value="Muze">Muze</option>
                    <option value="Otel">Otel</option>
                    <option value="Rehber">Rehber</option>
                    <option value="Arac">Arac</option>
                    <option value="Aracli Rehber">Aracli Rehber</option>
                    <option value="Serbest Zaman">Serbest Zaman</option>
                </select>
                <button onclick="downloadCard('cardWeek');" class="btn btn-outline-secondary">
                    <i class="fas fa-download"></i> Excel İndir
                </button>
                <button onclick="printCard('cardWeek');" class="btn btn-outline-secondary">
                    <i class="fas fa-print"></i> Yazdır
                </button>
            </div>
        </div>
        <div class="card-body" style=" overflow-x: auto;">
            <table class="table table-striped table-hover table_font">
                <thead class="thead-dark">
                    <tr>
                        <th>Takip Eden</th>
                        <th>Etiket</th>
                        <th>İşlem Türü</th>
                        <th>Açıklama</th>
                        <th>Alış Zamanı</th>
                        <th>Alış Yeri</th>

                        <th>Tur</th>
                        <th>Transfer</th>
                        <th>Araç</th>
                        <th>Araç Tedarikçi</th>

                        <th>Otel</th>
                        <th>Otel Ücreti</th>

                        <th>Aktivite</th>
                        <th>Aktivite Tedarikçi</th>
                        <th>Aktivite Ücreti</th>

                        <th>Müzeler</th>
                        <th>Müze Ücreti</th>

                        <th>Rehber</th>
                        <th>Rehber Var</th>
                        <th>Rehber Ücreti</th>

                        <th>Şoför</th>
                        <th>Şoför Telefon</th>
                        <th>Plaka</th>
                        {% if request.user.personel.first.job == "Operasyon Şefi" or request.user.personel.first.job == "Yönetim" or request.user.personel.first.job == "Sistem Geliştiricisi" %}
                            <th>Whatsapp</th>
                        {% endif %}
                        <th>Hata Bildir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in week_jobs %}
                        {% include 'tour/partials/jobs.html' %}
                    {% empty %}
                        <div class="alert alert-warning" role="alert">
                            Hiç operasyon kaydı bulunamadı.
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        function printCard(cardId) {
            var content = document.getElementById(cardId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = content;

            window.print();

            document.body.innerHTML = originalContent;
        }
    </script>
    <script>
        function printCard(cardId) {
            var content = document.getElementById(cardId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = content;

            window.print();

            document.body.innerHTML = originalContent;
        }

        function downloadCard(cardId) {
            var cardElement = document.getElementById(cardId);
            var elt = cardElement.getElementsByTagName('table')[0];
            var titleElement = cardElement.getElementsByClassName('card_title')[0];
            var titleText = titleElement ? titleElement.innerText : 'Download';
            var fileName = titleText.replace(/[^a-z0-9]/gi, '_').toLowerCase() + ".xlsx"; // Sanitize title text to use as filename

            var wb = XLSX.utils.table_to_book(elt, {sheet: "Sheet JS"});
            XLSX.writeFile(wb, fileName);
        }
    </script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filtreSelect = document.getElementById('filtre');
        const tableRows = document.querySelectorAll('#cardWeek tbody tr');

        filtreSelect.addEventListener('change', function() {
            const selectedValue = this.value;
            tableRows.forEach(row => {
                const islemTuruCell = row.querySelector('td:nth-child(3)'); // İşlem Türü sütununu seçiyoruz
                const aktiviteCell = row.querySelector('td:nth-child(12)'); // Aktivite sütununu seçiyoruz
                const muzeCell = row.querySelector('td:nth-child(15)'); // Müze sütununu seçiyoruz

                if (selectedValue === 'Hepsi') {
                    row.style.display = '';
                } else if (selectedValue === 'Aktivite') {
                    if (aktiviteCell && aktiviteCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else if (selectedValue === 'Muze') {
                    if (muzeCell && muzeCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else {
                    if (islemTuruCell && islemTuruCell.textContent.trim() === selectedValue) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filtreSelect = document.getElementById('filtre_tomorrow');
        const tableRows = document.querySelectorAll('#cardTomorrow tbody tr');

        filtreSelect.addEventListener('change', function() {
            const selectedValue = this.value;
            tableRows.forEach(row => {
                const islemTuruCell = row.querySelector('td:nth-child(3)'); // İşlem Türü sütununu seçiyoruz
                const aktiviteCell = row.querySelector('td:nth-child(12)'); // Aktivite sütununu seçiyoruz
                const muzeCell = row.querySelector('td:nth-child(15)'); // Müze sütununu seçiyoruz

                if (selectedValue === 'Hepsi') {
                    row.style.display = '';
                } else if (selectedValue === 'Aktivite') {
                    if (aktiviteCell && aktiviteCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else if (selectedValue === 'Muze') {
                    if (muzeCell && muzeCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else {
                    if (islemTuruCell && islemTuruCell.textContent.trim() === selectedValue) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filtreSelect = document.getElementById('filtre_today');
        const tableRows = document.querySelectorAll('#cardToday tbody tr');

        filtreSelect.addEventListener('change', function() {
            const selectedValue = this.value;
            tableRows.forEach(row => {
                const islemTuruCell = row.querySelector('td:nth-child(3)'); // İşlem Türü sütununu seçiyoruz
                const aktiviteCell = row.querySelector('td:nth-child(12)'); // Aktivite sütununu seçiyoruz
                const muzeCell = row.querySelector('td:nth-child(15)'); // Müze sütununu seçiyoruz

                if (selectedValue === 'Hepsi') {
                    row.style.display = '';
                } else if (selectedValue === 'Aktivite') {
                    if (aktiviteCell && aktiviteCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else if (selectedValue === 'Muze') {
                    if (muzeCell && muzeCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else {
                    if (islemTuruCell && islemTuruCell.textContent.trim() === selectedValue) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filtreSelect = document.getElementById('filtre_totomorrow');
        const tableRows = document.querySelectorAll('#cardtoTomorrow tbody tr');

        filtreSelect.addEventListener('change', function() {
            const selectedValue = this.value;
            tableRows.forEach(row => {
                const islemTuruCell = row.querySelector('td:nth-child(3)'); // İşlem Türü sütununu seçiyoruz
                const aktiviteCell = row.querySelector('td:nth-child(12)'); // Aktivite sütununu seçiyoruz
                const muzeCell = row.querySelector('td:nth-child(15)'); // Müze sütununu seçiyoruz

                if (selectedValue === 'Hepsi') {
                    row.style.display = '';
                } else if (selectedValue === 'Aktivite') {
                    if (aktiviteCell && aktiviteCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else if (selectedValue === 'Muze') {
                    if (muzeCell && muzeCell.textContent.trim() !== '----') {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                } else {
                    if (islemTuruCell && islemTuruCell.textContent.trim() === selectedValue) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    });
</script>




{% endblock %}



