{% extends "tour/base/base.html" %}

{% block content %}
<div class="container-fluid my-4">

    <h1 class="text-center my-4">Loglar</h1>
    <div class="row mt-2">
        <div class="col my-2">
            <a class="btn btn-light" href="{% url 'logs' %}">Tümü</a>
        </div>
        {% for staff in staffs %}
            <div class="col my-2">
                <a class="btn btn-light" href="{% url 'log_staff' staff.id %}">{{staff.user.get_full_name }}</a>
            </div>
        {% endfor %}
    </div>
    <div style="overflow-x: auto;">
        <table class="table table-striped table-hover table-borderless table-light align-middle">
            <thead>
                <tr>
                    <th>KULLANICI</th>
                    <th>ZAMAN</th>
                    <th>AÇIKLAMA</th>
                </tr>
            </thead>
            <tbody id="personel-list">
                {% for log in page.object_list %}
                    {% include "tour/partials/log-list.html" %}
                {% endfor %}
                {% if login == False %}
                    {% if personel %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'log_staff' personel %}?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                {% endif %}
                                </li>
                                {% if page.has_next%}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'log_staff' personel %}?page={{ page.next_page_number }}">Next</a>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                    {% else %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'logs' %}?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                {% endif %}
                                </li>
                                {% if page.has_next%}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'logs' %}?page={{ page.next_page_number }}">Next</a>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% else %}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'login_logs' %}?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                        {% endif %}
                        </li>
                        {% if page.has_next%}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'login_logs' %}?page={{ page.next_page_number }}">Next</a>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                        {% endif %}
                        </li>
                      </ul>
                    </nav>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}




