{% extends "tour/base/base.html" %}

{% block content %}
<div class="container-fluid">
    <div id="close">
        <h1 class="text-center my-5">{{ createtitle }}</h1>
        <div id="forms">
            {% include 'tour/partials/operation-form.html' %}
        </div>
        <div class="row my-4">
            <div class="col-12">
                <button class="btn btn-success" id="submit-all">Oluştur</button>
            </div>
        </div>
        <div class="row my-4" id="opertaion-day" hx-swap="beforeend">
            <h1 class="text-center my-5">Operasyon Detayı</h1>
            {% include 'tour/partials/operation-day.html' %}
        </div>
        <button class="btn btn-success" id="submit-item-all">Kaydet</button>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const submitButton = document.getElementById('submit-all');
    const usdField = document.querySelector('[name="usd_sales_price"]');
    const eurField = document.querySelector('[name="eur_sales_price"]');
    const tlField = document.querySelector('[name="tl_sales_price"]');
    const rbmField = document.querySelector('[name="rbm_sales_price"]');
    const ticketField = document.getElementById('id_ticket');

    function checkSalesPrices() {
        const usdValue = parseFloat(usdField.value) || 0;
        const eurValue = parseFloat(eurField.value) || 0;
        const tlValue = parseFloat(tlField.value) || 0;
        const rbmValue = parseFloat(rbmField.value) || 0;

        if (usdValue === 0 && eurValue === 0 && tlValue === 0 && rbmValue === 0) {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    }

    function checkTicket() {
        const ticket = ticketField.value;
        if (ticket === '') {
            ticketField.style.borderColor = 'red';
            submitButton.disabled = true;
        } else {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/TourManagerV2/check_ticket/?ticket=' + encodeURIComponent(ticket), true);
            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    var isTaken = JSON.parse(this.responseText).is_taken;
                    if (isTaken) {
                        ticketField.style.borderColor = 'red';
                        submitButton.disabled = true;
                    } else {
                        ticketField.style.borderColor = 'green';
                        checkSalesPrices();  // Check prices again to ensure all conditions are met
                    }
                }
            }
            xhr.send();
        }
    }

    usdField.addEventListener('input', checkSalesPrices);
    eurField.addEventListener('input', checkSalesPrices);
    tlField.addEventListener('input', checkSalesPrices);
    rbmField.addEventListener('input', checkSalesPrices);
    ticketField.addEventListener('input', checkTicket);

    // İlk yüklemede kontrolleri yap
    checkSalesPrices();
    checkTicket();
});
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var submitButton = document.getElementById('submit-item-all');

        if (submitButton) {
            submitButton.addEventListener('click', function() {
                // Butona tıklanınca 1 saniye bekleyip başka bir sayfaya yönlendir
                setTimeout(function() {
                    window.location.href = '/TourManagerV2/operation_list/';  // Buraya istediğiniz URL'yi yazın
                }, 700);  // 1000 milisaniye = 1 saniye
            });
        }
    });
</script>

{% endblock js %}

