{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
<!--! END: Favicon-->
<!--! BEGIN: Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<!--! END: Bootstrap CSS-->
<!--! BEGIN: Vendors CSS-->
<link rel="stylesheet" type="text/css" href="assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="assets/vendors/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="assets/vendors/css/select2-theme.min.css">
<!--! END: Vendors CSS-->
<!--! BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="assets/css/theme.min.css">
{% endblock css %}

{% block content %}
<div class="page-header">
    <div class="page-header-left d-flex align-items-center">
        <div class="page-header-title">
            <h5 class="m-b-10">{{ title }}</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">{{ title }}</li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card stretch stretch-full">
                <div class="card-body lead-status">

                    <div class="mb-5 d-flex align-items-center justify-content-between">
                        <h5 class="fw-bold mb-0 me-4">
                            <span class="d-block mb-2">{{ title }} Create:</span>
                        </h5>
                        <button id="submit-all" class="btn btn-sm btn-light-brand">Create {{ title }}</button>
                    </div>
                    <div id="form-div">
                        {% include "includes/generics/generic-forms.html" %}
                    </div>
                    {% if model_name == "Supplier" or model_name == "Activitysupplier" %}
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <button class="btn btn-sm btn-primary my-2" hx-get="{% url 'add_cities' model_name %}" hx-target="#citiesdiv" hx-swap="beforeend">Add City</button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row my-2">
                        <div class="ms-auto col-lg-3 mb-4 align-self-end">
                            <button class="btn btn-sm btn-primary ms-auto" hx-get="{% url 'generic_create_view' model_name %}" hx-target="#form-div" hx-swap="beforeend">Add Form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card stretch stretch-full">
                <div class="card-header">
                    <h5 class="card-title">{{ model_name }} Lists</h5>
                    <div class="card-header-action">
                        <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                            <div class="dropdown">
                                <a class="btn btn-icon btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 12" data-bs-auto-close="outside">
                                    <i class="feather-paperclip"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:void(0);" class="dropdown-item download-item" data-filetype="pdf" data-day="today">
                                        <i class="bi bi-filetype-pdf me-3"></i>
                                        <span>PDF</span>
                                    </a>
                                    <a href="javascript:void(0);" class="dropdown-item download-item" data-filetype="txt" data-day="today">
                                        <i class="bi bi-filetype-txt me-3"></i>
                                        <span>Text</span>
                                    </a>
                                    <a href="javascript:void(0);" class="dropdown-item download-item" data-filetype="excel" data-day="today">
                                        <i class="bi bi-filetype-exe me-3"></i>
                                        <span>Excel</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0);" class="dropdown-item download-item" data-filetype="print" data-day="today">
                                        <i class="bi bi-printer me-3"></i>
                                        <span>Print</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body custom-card-action p-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0" style="font-size: 0.6rem; table-layout: fixed; width: 100%;">
                            <thead class="thead-light">
                                <tr>
                                    {% for field in fields %}
                                        <th style="word-wrap: break-word; white-space: normal;">{{ field|upper }}</th>
                                    {% endfor %}
                                    <th class="text-end" style="word-wrap: break-word; white-space: normal;">Update</th>
                                </tr>
                            </thead>
                            <tbody id="generic-list">
                                {% for obj_data in objects_data %}
                                    {% include "includes/generics/generic-lists.html" with fields=fields obj_data=obj_data %}
                                {% empty %}
                                <tr class="fade-in main-row">
                                    <th colspan="{{ number_of_columns }}" style="word-wrap: break-word; white-space: normal;">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fa-solid fa-circle-info"></i> No jobs found.
                                        </div>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include "includes/theme-customizer.html" %}
{% endblock content %}

{% block js %}
<script src="assets/vendors/js/vendors.min.js"></script>
<!-- vendors.min.js {always must need to be top} -->
<script src="assets/vendors/js/select2.min.js"></script>
<script src="assets/vendors/js/select2-active.min.js"></script>
<!--! END: Vendors JS !-->
<!--! BEGIN: Apps Init  !-->
<script src="assets/js/common-init.min.js"></script>
<script src="assets/js/leads-view-init.min.js"></script>
<!--! END: Apps Init !-->
<!--! BEGIN: Theme Customizer  !-->
<script src="assets/js/theme-customizer-init.min.js"></script>
{% endblock js %}


