{% load static %}
<header class="nxl-header">
    <div class="header-wrapper">
        <!--! [Start] Header Left !-->
        <div class="header-left d-flex align-items-center gap-4">
            <!--! [Start] nxl-head-mobile-toggler !-->
            <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <!--! [Start] nxl-head-mobile-toggler !-->
            <!--! [Start] nxl-navigation-toggle !-->
            <div class="nxl-navigation-toggle">
                <a href="javascript:void(0);" id="menu-mini-button">
                    <i class="feather-align-left"></i>
                </a>
                <a href="javascript:void(0);" id="menu-expend-button" style="display: none">
                    <i class="feather-arrow-right"></i>
                </a>
            </div>
            <!--! [End] nxl-navigation-toggle !-->
            <!--! [Start] nxl-lavel-mega-menu-toggle !-->
            <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
                <a href="javascript:void(0);" id="nxl-lavel-mega-menu-open">
                    <i class="feather-align-left"></i>
                </a>
            </div>
            <!--! [End] nxl-lavel-mega-menu-toggle !-->
            <!--! [End] nxl-lavel-mega-menu !-->
        </div>
        <!--! [End] Header Left !-->
        <!--! [Start] Header Right !-->
        <div class="header-right ms-auto">
            <div class="d-flex align-items-center">
                <div class="dropdown nxl-h-item nxl-header-language d-none d-sm-flex">
                    <a href="javascript:void(0);" class="nxl-head-link me-0 nxl-language-link"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <img src="{% static 'assets/vendors/img/flags/4x3/us.svg' %}" alt="" class="img-fluid wd-20">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-language-dropdown">
                        <div class="dropdown-divider mt-0"></div>
                        <div class="language-items-wrapper">
                            <div class="select-language px-4 py-2 hstack justify-content-between gap-4">
                                <div class="lh-lg">
                                    <h6 class="mb-0">Select Language</h6>
                                    <p class="fs-11 text-muted mb-0">4 languages avaiable!</p>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row px-4 pt-3">
                                <div class="col-sm-4 col-6 language_select">
                                    <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                                        <div class="avatar-image avatar-sm"><img
                                                src="{% static 'assets/vendors/img/flags/1x1/sa.svg' %}" alt="" class="img-fluid">
                                        </div>
                                        <span>Arabic</span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-6 language_select">
                                    <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                                        <div class="avatar-image avatar-sm"><img
                                                src="{% static 'assets/vendors/img/flags/1x1/ch.svg' %}" alt="" class="img-fluid">
                                        </div>
                                        <span>Chinese</span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-6 language_select active">
                                    <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                                        <div class="avatar-image avatar-sm"><img
                                                src="{% static 'assets/vendors/img/flags/1x1/us.svg' %}" alt="" class="img-fluid">
                                        </div>
                                        <span>English</span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-6 language_select">
                                    <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                                        <div class="avatar-image avatar-sm"><img
                                                src="{% static 'assets/vendors/img/flags/1x1/tr.svg' %}" alt="" class="img-fluid">
                                        </div>
                                        <span>Turkish</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nxl-h-item d-none d-sm-flex">
                    <div class="full-screen-switcher">
                        <a href="javascript:void(0);" class="nxl-head-link me-0"
                            onclick="$('body').fullScreenHelper('toggle');">
                            <i class="feather-maximize maximize"></i>
                            <i class="feather-minimize minimize"></i>
                        </a>
                    </div>
                </div>
                <div class="nxl-h-item dark-light-theme">
                    <a href="javascript:void(0);" class="nxl-head-link me-0 dark-button">
                        <i class="feather-moon"></i>
                    </a>
                    <a href="javascript:void(0);" class="nxl-head-link me-0 light-button" style="display: none">
                        <i class="feather-sun"></i>
                    </a>
                </div>
                <div class="dropdown nxl-h-item">
                    <a class="nxl-head-link me-3" data-bs-toggle="dropdown" href="#" role="button"
                        data-bs-auto-close="outside">
                        <i class="feather-bell"></i>
                        <span class="badge bg-danger nxl-h-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-notifications-menu">
                        <div class="d-flex justify-content-between align-items-center notifications-head">
                            <h6 class="fw-bold text-dark mb-0">Notifications</h6>
                            <a href="javascript:void(0);" class="fs-11 text-success text-end ms-auto"
                                data-bs-toggle="tooltip" title="Make as Read">
                                <i class="feather-check"></i>
                                <span>Make as Read</span>
                            </a>
                        </div>
                        <div class="notifications-item">
                            <img src="assets/images/avatar/2.png" alt="" class="rounded me-3 border">
                            <div class="notifications-desc">
                                <a href="javascript:void(0);" class="font-body text-truncate-2-line"> <span
                                        class="fw-semibold text-dark">Malanie Hanvey</span> We should talk about
                                    that at lunch!</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="notifications-date text-muted border-bottom border-bottom-dashed">2
                                        minutes ago</div>
                                    <div class="d-flex align-items-center float-end gap-2">
                                        <a href="javascript:void(0);"
                                            class="d-block wd-8 ht-8 rounded-circle bg-gray-300"
                                            data-bs-toggle="tooltip" title="Make as Read"></a>
                                        <a href="javascript:void(0);" class="text-danger" data-bs-toggle="tooltip"
                                            title="Remove">
                                            <i class="feather-x fs-12"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notifications-item">
                            <img src="assets/images/avatar/3.png" alt="" class="rounded me-3 border">
                            <div class="notifications-desc">
                                <a href="javascript:void(0);" class="font-body text-truncate-2-line"> <span
                                        class="fw-semibold text-dark">Valentine Maton</span> You can download the
                                    latest invoices now.</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="notifications-date text-muted border-bottom border-bottom-dashed">36
                                        minutes ago</div>
                                    <div class="d-flex align-items-center float-end gap-2">
                                        <a href="javascript:void(0);"
                                            class="d-block wd-8 ht-8 rounded-circle bg-gray-300"
                                            data-bs-toggle="tooltip" title="Make as Read"></a>
                                        <a href="javascript:void(0);" class="text-danger" data-bs-toggle="tooltip"
                                            title="Remove">
                                            <i class="feather-x fs-12"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notifications-item">
                            <img src="assets/images/avatar/4.png" alt="" class="rounded me-3 border">
                            <div class="notifications-desc">
                                <a href="javascript:void(0);" class="font-body text-truncate-2-line"> <span
                                        class="fw-semibold text-dark">Archie Cantones</span> Don't forget to pickup
                                    Jeremy after school!</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="notifications-date text-muted border-bottom border-bottom-dashed">53
                                        minutes ago</div>
                                    <div class="d-flex align-items-center float-end gap-2">
                                        <a href="javascript:void(0);"
                                            class="d-block wd-8 ht-8 rounded-circle bg-gray-300"
                                            data-bs-toggle="tooltip" title="Make as Read"></a>
                                        <a href="javascript:void(0);" class="text-danger" data-bs-toggle="tooltip"
                                            title="Remove">
                                            <i class="feather-x fs-12"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center notifications-footer">
                            <a href="javascript:void(0);" class="fs-13 fw-semibold text-dark">Alls Notifications</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown nxl-h-item">
                    <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button"
                        data-bs-auto-close="outside">
                        {% if request.user.personel.first.gender == "man" %}
                        <img src="{% static 'assets/images/avatar/man.png' %}" alt="user-image" class="img-fluid user-avtar me-0">
                        {% else %}
                        <img src="{% static 'assets/images/avatar/woman.png' %}" alt="user-image" class="img-fluid user-avtar me-0">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-user-dropdown">
                        <div class="dropdown-header">
                            <div class="d-flex align-items-center">
                                {% if request.user.personel.first.gender == "man" %}
                                <img src="{% static 'assets/images/avatar/man.png' %}" alt="user-image" class="img-fluid user-avtar">
                                {% else %}
                                <img src="{% static 'assets/images/avatar/woman.png' %}" alt="user-image" class="img-fluid user-avtar">
                                {% endif %}
                                <div>
                                    <h6 class="text-dark mb-0">{{ request.user.first_name }} {{ request.user.last_name }}
                                        {% if request.user.employees.first.company.statu == "basic" %}
                                            <span class="badge bg-soft-success text-success ms-1">
                                                BASIC
                                            </span>
                                        {% elif request.user.employees.first.company.statu == "team" %}
                                        <span class="badge bg-soft-success text-success ms-1">
                                            TEAM
                                        </span>
                                        {% elif request.user.employees.first.company.statu == "professional" %}
                                        <span class="badge bg-soft-success text-success ms-1">
                                            PRO
                                        </span>
                                        {% else %}
                                        <span class="badge bg-soft-success text-success ms-1">
                                            DEMO
                                        </span>
                                        {% endif %}

                                    </h6>
                                    <span class="fs-12 fw-medium text-muted">{{ request.user.usesrname }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'auth_profile' %}" class="dropdown-item">
                            <i class="feather-user"></i>
                            <span>Profile Details</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-activity"></i>
                            <span>Activity Feed</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-dollar-sign"></i>
                            <span>Billing Details</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-bell"></i>
                            <span>Notifications</span>
                        </a>
                        <a href="{% url 'change_password' %}" class="dropdown-item">
                            <i class="feather-key"></i>
                            <span>Change Password</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'auth_logout' %}" class="dropdown-item">
                            <i class="feather-log-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--! [End] Header Right !-->
    </div>
</header>