<div class="alert alert-dismissible m-4 p-4 d-flex alert-soft-teal-message" role="alert">
    <div class="me-4 d-none d-md-block">
        <i class="feather feather-alert-octagon fs-1"></i>
    </div>
    <div>
        <p class="fw-bold mb-1 text-truncate-1-line">We need your attention!</p>
        <p class="fs-12 fw-medium text-truncate-1-line">Your payment was declined. To start
            using tools, please <strong>Add Payment Method</strong></p>
        <a href="javascript:void(0);"
            class="btn btn-sm bg-soft-teal text-teal d-inline-block">Add Payment Method</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
</div>