<div class="tab-pane fade p-4" id="securityTab" role="tabpanel">
  <div class="p-4 mb-4 border border-dashed border-gray-3 rounded-1">
    <h6 class="fw-bolder">
      <a href="javascript:void(0);">Two-factor Authentication</a>
    </h6>
    <div class="fs-12 text-muted text-truncate-3-line mt-2 mb-4">
      Two-factor authentication is an enhanced security measure. Once enabled,
      you'll be required to provide two types of identification when you log in.
      The first step is password verification, and the second step is SMS
      verification.
    </div>
    <div class="form-check form-switch form-switch-sm">
      <label
        class="form-check-label fw-500 text-dark c-pointer"
        for="2faVerification"
        >Enable 2FA Verification</label
      >
      <input
        class="form-check-input c-pointer"
        type="checkbox"
        id="2faVerification"
      />
    </div>
  </div>
</div>
