<ul class="nav nav-tabs flex-wrap w-100 text-center customers-nav-tabs" id="myTab" role="tablist">
    <li class="nav-item flex-fill border-top" role="presentation">
        <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#overviewTab" role="tab">Overview</a>
    </li>
    {% if employee.job == "Management" or employee.job == "System Developer" %}
        <li class="nav-item flex-fill border-top" role="presentation">
            <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab"
                data-bs-target="#billingTab" role="tab">Billing</a>
        </li>
    {% endif %}
    <li class="nav-item flex-fill border-top" role="presentation">
        <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab"
            data-bs-target="#activityTab" role="tab">Activity</a>
    </li>
    <li class="nav-item flex-fill border-top" role="presentation">
        <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#securityTab" role="tab">Security</a>
    </li>
</ul>