<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="theme_ocean">
    <title>Daphne || Resetting Cover</title>
    {% comment %} Start Alert {% endcomment %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
    {% comment %} End Alert {% endcomment %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/theme.min.css' %}">

</head>

<body>
    <main class="auth-cover-wrapper">
        <div class="auth-cover-content-inner">
            <div class="auth-cover-content-wrapper">
                <div class="auth-img">
                    <img src="{% static 'assets/images/auth/auth-cover-resetting-bg.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="auth-cover-sidebar-inner">
            <div class="auth-cover-card-wrapper">
                <div class="auth-cover-card p-sm-5">
                    <div class="wd-50 mb-5">
                        <img src="{% static 'assets/images/logo-abbr.png' %}" alt="" class="img-fluid">
                    </div>
                    <h2 class="fs-20 fw-bolder mb-4">Resetting</h2>
                    <h4 class="fs-13 fw-bold mb-2">Reset to your password</h4>
                    <p class="fs-12 fw-medium text-muted">Enter your email and a reset link will sent to you, let's access our the best recommendation for you.</p>
                    <form method="POST" class="w-100 mt-4 pt-2">
                        {% csrf_token %}
                        <div class="mb-4">
                            <input type="password" name="password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="mb-4">
                            <input type="password" name="repassword" class="form-control" placeholder="Conform Password" required>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-lg btn-primary w-100">Save Change</button>
                        </div>
                    </form>
                    <div class="mt-5 text-muted">
                        <span> Don't have an account?</span>
                        <a href="auth-register-cover.html" class="fw-bold">Create a Company's Account</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "includes/theme-customizer.html" %}

    <script src="{% static 'assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'assets/js/common-init.min.js' %}"></script>
    <script src="{% static 'assets/js/theme-customizer-init.min.js' %}"></script>
    {% comment %} Start Alert {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    {% comment %} End Alert {% endcomment %}
    {% include "includes/alert.html" %}
</body>

</html>