<div class="col-md-4" id="delete_div-{{ obj_data.id }}">
    <div class="card my-2">
        <div class="card-header bg-secondary text-white"> <!-- Başlık için mavi arka plan ve beyaz yazı renkleri ekledim -->
            <h5 class="card-title mb-0"> <!-- Kart başlığını h5 ile vurguladım ve alt margini sıfırladım -->
                {{ model_name }}
            </h5>
        </div>
        <div class="card-body" id="model-{{ obj_data.id }}">
            {% for field in fields %}
                <p class="mb-1"><strong>{{ field|upper }}:</strong> {{ obj_data|get_field_value:field }}</p>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-success btn-sm mx-1" hx-get="{% url 'generic_mobile_edit_view' model_name obj_data.id %}" hx-target="#model-{{ obj_data.id }}" hx-swap="outerHTML swap:.5s">
                    EDIT
                </button>
                <button class="btn btn-danger btn-sm" hx-delete="{% url 'generic_delete_view' model_name obj_data.id %}" hx-confirm="Silmek istediğine emin misin?" hx-target="#delete_div-{{ obj_data.id }}">
                    DELETE
                </button>
            </div>
        </div>
    </div>
</div>